*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.app-name {
    text-align: center;   
     background-color:#333 ;
     color:white
}

.adding-note{
    width: 97vw;
    height:3rem;

    margin-top:1rem;
    display:flex;
    justify-content: flex-end;
    
}



.adding-note button{
   width:10vw;
   height: 100%;
   background-color: #333;
   color: white;
   border-radius: 5px;
   font-weight: 600;
   cursor: pointer;
}


.note-form{
    width: 50vw;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-40%);
   
    text-align: center;
    padding:2rem ;
    color: white;
    background-color: #333;
    border-radius: 5px;
    display: none;
}

.form-data{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.note-mode{
    display: flex;
    gap: 1rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.input-fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

margin-top: 2rem;
}

#subject{
    font-weight: 600;
}


select{
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}
.input-fields input{
    width: 20vw;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.3;
    border-radius: 5px;

}



.input-fields label{
    width: 4rem;
    height: 3rem;
    display: inline-block;
}


.note-form button{
    width:10rem;
   height: 2rem;
   background-color:white;
   color: #333;
   border-radius: 5px;
   font-weight: 600;
   cursor: pointer;
}


.notes-container{
    width: 100vw;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1.4rem .8rem;
    justify-content: center;

}
.my-note{
    border: 3px solid #333;
    border-radius: 5px;
    color:#333;
   
    width: 20vw;
    padding: .7rem .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 1px 10px;
}

.my-note-body span a:link{
    text-decoration: none;
    font-size: .8rem;
    font-weight: 600;
}

.my-note-body{
    text-transform: capitalize;
}

.my-note-mode{
    display: flex;
    justify-content: space-between;
}

.my-note-mode .date-container{
    display: flex;
    align-items: flex-end;
}

.my-note-mode .date{
    font-weight: 600;
}

.my-note-subject{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.my-note-subject h1{
text-transform: capitalize;
font-size: 1.3rem;
}

.cross{cursor: pointer;}